	#logo {
		height: 50px;
		display: inline;
		margin-left: 18px;
	}
	header {
		margin-bottom: 10px;
		padding-top: 8px;
	}
	header i {
		display: inline-block;
		margin-left: 5%;
		font-size: 1.8em !important;
		color: #9b744a;
	}
	#btn-menu {
		display: inline-block !important;
	}
	#bar {
		height: 500px;
		width: 50%;
		position: absolute;
		padding: 0;
		background-color: rgba(0,0,0,0.9);
		z-index: 2;
		transform: translate(-100%, 0);
		transition: transform 0.3s ease;
	}
	#bar ul li {
		font-size: 18px;
		padding: 10px;
		text-align: center;
	}
	#fotos {
		height: 400px;
	}
	.social a:first-child {
		margin-left: 43%;
		margin-right: 5px;
	}
	.social {
		margin-top: 10px;
	}
	footer p {
		display: block;
		font-size: 6px;
		margin: 0;
		padding-top: 5px;
		text-align: center;
	}
@media screen and (min-width: 400px) and (max-width: 499px){
  #logo {
    height: 60px;
  }
  #fotos {
    height: 520px;
  }
  #bar {
    height: 550px;
  }
}
@media screen and (min-width: 370px) and (max-width: 400px){
  #logo {
    height: 55px;
  }
  #fotos {
    height: 500px;
  }
}
@media screen and (max-width: 350px){
	#fotos {
		height: 400px;
	}
	#logo {
		height: 43px;
		display: inline;
		margin-left: 12px;
	}
	header {
		padding-top: 10px;
		padding-bottom: 10px;
		margin: 0;
	}
	header i {
		display: inline-block;
		margin-left: 8%;
		font-size: 1.5em !important;
		color: #9b744a;
	}
}
