body {
	background-color: #000000;
	height: 100%;
}
p, h2, a {
	color: #9b744a;
	font-family: "book antigua", sans-serif;
	font-weight: bold;
}
.nav li a:hover, footer a:hover {
	background-color: inherit;
	color: #9b744a;
	-webkit-transform: scale(1.2);
}
.menu-contacto {
	position: absolute;
	width: 100%;
	height: inherit;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
}
.contact {
	width: 300px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
}
#cont-mensaje {
	height: 150px;
}
#btn-menu {
	display: none;
}
#fotos {
	position: relative;
	width: 100%;
	height: 420px;
	overflow-x: hidden;
}
#container {
	width: auto;
	height: inherit;
	box-sizing: border-box;
}
#container img {
	position: absolute;
	height: inherit;
	box-sizing: border-box;
}
.thumbnail {
	padding: 0px;
	border-color: #000;
}
.thumbnail:hover {
	border-color: #9b744a !important;
}
.open {
	transform: translate(0, 0) !important;
	transition: transform 0.3s ease !important;
}
@media screen and (min-width: 800px){
#logo {
		height: 140px;
		max-width: 100%;
		display: block;
		margin: auto;
		margin-top: 10px;
		margin-bottom: 10px;
		box-sizing: border-box;
	}
.head{
	margin-bottom: 20px;
}
nav {
	background: linear-gradient(to right, transparent,rgba(208, 156, 99,0.3), rgba(208, 156, 99,0.5),#d09c63,rgba(208, 156, 99,0.5), rgba(208, 156, 99,0.3), transparent);
  padding: 2px;
  padding-left: 0px !important;
  padding-right: 0px !important;
	margin-bottom: 25px;
}
nav ul {
	background-color: black;
}
nav ul li a {
	height: 35px;
	margin-top: -5px;
}
footer {
	margin-top: 5px;
}
footer p {
	font-size: 10px;
	color: #9b744a;
	padding-top: 15px;
	display: inline;
	float: right;
}
.social {
	display: inline;
	margin-left: 47%;
}
i {
	margin-top: 10px;
}
i:last-child {
	margin-left: 8px;
}
}
